.screen {
    width: 200px;
}

.numberRow {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.numberButton {
    border-style: solid;
    padding: 6px;
    margin: 10px;
}